#works for pyusb control access, and rust hid
SUBSYSTEM=="usb",  ATTR{idVendor}=="1a86", ATTR{idProduct}=="e041", MODE="0666", GROUP="plugdev"

#works or chrome WebHID
KERNEL=="hidraw*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="e041", MODE="0664", GROUP="plugdev"